header {
  height: 60px;
  width: 100%;
  background-color: rgb(31, 31, 31);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 2000;
  align-items: center;
  justify-content: space-between;
}
.aLogo {
  margin-left: 5%;
}
header .logo {
  height: 40px;
  width: 75px;
}
header .usuario {
  height: 80%;
  width: 60px;
  margin-right: 5%;
  border-radius: 100%;
  background-color: white;
}
header form {
  width: 50%;
}
header form #busqueda {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 25px;
  padding: 1px;
}
header form #buscar {
  font-size: 25px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.invisible {
  display: none;
  visibility: hidden;
}
.visible {
  display: block;
  visibility: visible;
}
header #return {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  font-size: 25px;
}

/*Responsividad para moviles*/
@media screen and (max-width: 600px) {
  header form #busqueda {
    margin-left: 15%;
    width: 90px;
    font-size: 1.3rem;
  }
  .busquedaLarge {
    width: 80% !important;

    margin-left: 0% !important;
  }
  .formularioLarge {
    width: 80% !important;
  }

  header form #buscar {
    margin-left: 2px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    font-size: 25px;
  }
  header .logo {
    height: 40px;
    width: 60px;
  }
  header .usuario {
    height: 40px;
    width: 50px;
  }
}
